@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background: #c4c4c4;
    font-size: 14px;
    line-height: 20px;
}
.resume_wrapper{
    display: flex;
    width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 10px;
}
.resume_wrapper .resume-left{
    width: 35%;
    background: #26252d;
}
.resume_wrapper .resume-left .resume-img{
    width: 100%;
}
.resume_wrapper .resume-left .resume-img img{
    width: 100%;
    display: block;
}
.resume_wrapper .resume-title{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 4px;
}
.resume_wrapper .resume-left .resume-info{
    color: #84838b;

}
.resume_wrapper .resume-left .resume-bottom{
    padding: 20px 30px;

}
.resume_wrapper .resume-item{
    padding: 20px 0;
    border-bottom: 1px solid #0175b2;
}
.resume_wrapper .resume-item:last-child{
    border-bottom: 0px;
}
 .resume_wrapper .resume-left .resume-namerole{
 display: none;

} 
.resume_wrapper .resume-namerole .name{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
    letter-spacing: 4px;
}
.resume_wrapper .resume-left .resume-namerole .role{
    color: #84838b;

}
.resume_wrapper .resume-left .resume-contact .resume-info:last-child{
    margin-top: 10px;
} 
.resume_wrapper .resume-left .resume-contact .resume-subtitle{
    color: #fff;
    margin-bottom: 2px;
}
.resume_wrapper .resume-left .resume-skill .skill-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.resume_wrapper .resume-left .resume-skill .skill-list .skill-bar p{
    position: relative;
    background: #fff;
    width: 125px;
    height: 20px;
}
.resume_wrapper .resume-left .resume-skill .skill-list .skill-bar p span{
    position: absolute;
    left: 0;
    top: 0;
    background: #0175b2;
    width: 100%;
    height: 100%;
}
.resume_wrapper .resume-right{
    width: 65%;
    padding: 20px 40px;

}
.resume_wrapper .resume-right .resume-namerole .name{
    color: #26252d;
    font-size:32px; ;
}
.resume_wrapper .resume-right .resume-namerole .role {
    font-size: 14px;
    text-transform: uppercase;

}
.resume_wrapper .resume-right .resume-item .resume-title{
    color: #26252d;
}
.resume_wrapper .resume-right .resume-data{
    display: flex;
}
.resume_wrapper .resume-right .resume-data .year{
    padding-right: 35px;
    width: 115px;
    position: relative;

}
.resume_wrapper .resume-right .resume-data .content{
    padding-left: 35px;
    margin-bottom: 20px;
    width: calc(100% -115px);
}
.resume_wrapper .resume-right .resume-data .year ::before{
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #2625ed;
    background: #fff;
    border-radius: 50%;

}
.resume_wrapper .resume-right .resume-data .year ::after{
    content: "";
    position: absolute;
    top:17px ;
    right: 4px;
    width: 3px;
    height: 90%;
    background: #0175b2;
}
.resume_wrapper .resume-right .resume-data:last-child .year ::after{
    display: none;
}
.resume_wrapper .resume-right .resume-interests .resume-info{
    display: flex;
    justify-content: space-between;
    text-align: center;

}
.resume_wrapper .resume-right .resume-interests .interests .int-icon{
    font-size: 38px;
    color: #0175b2;
    margin-top: 10px;
    
}



